{% extends "base.html" %}

{% block title %}index{% endblock title %}
{% block content %}
<div>
    <div id = 'chat'>
        <div id="question">
            {{question}}
        </div>
        <div id="answer">
            {{response}}
        </div>
       
    </div>

    <div id = 'input'>
        <p><b>Ask whatever tou want-</b></p>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Answer</button>

        </form>
    </div>
</div>
{% endblock content %}