{% extends "base.html" %}

{% block title %}index{% endblock title %}
{% block content %}
<div class="item-centre">
    <div>
        <ul>
            {% for hist in history %}
            <li>{{hist.question}} - {{hist.answer}} </li>
            {% endfor %}
        </ul>
    </div>
    <div id = 'chat'>
        <div id="question">
            {{question}}
        </div>
        <div id="answer">
            {{response}}
        </div>
       
    </div>

    <div id = 'input'>
        <p class="bg-cyan-600"><b>Ask whatever tou want-</b></p>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Answer</button>

        </form>
    </div>
</div>
{% endblock content %}